name: Run DBT on Snowflake

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 12 * * *'  # Runs every day at 12:00 UTC

jobs:
  dbt-run:
    runs-on: ubuntu-latest

    # Define the environment variables for the entire job
    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
      SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
      SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
      SNOWFLAKE_SCHEMA: ${{ secrets.SNOWFLAKE_SCHEMA }}

    steps:
    - name: Checkout code
      uses: actions/checkout@main

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install dbt-snowflake==1.5.0
        dbt deps

    - name: Debugging step - List files in workspace
      run: ls -al $GITHUB_WORKSPACE

    - name: Debug dbt connection
      run: dbt debug --profiles-dir $GITHUB_WORKSPACE

    # - name: Run DBT Seed  # This is the new step
    #   run: |
    #     dbt seed --profiles-dir ./

    - name: Run DBT
      run: |
        dbt run --profiles-dir ./

    - name: Run DBT Snapshot
      run: |
        dbt snapshot --profiles-dir ./

    - name: Run DBT Test
      run: |
        dbt test --profiles-dir ./

    - name: Run DBT Document generator
      run: |
        dbt docs generate --profiles-dir ./

    - name: Run DBT Document Serve
      run: |
        dbt docs serve --profiles-dir ./
